```Bash
=> Initializing the Pairing Bot process
######################################################################## 100%%
=> Loading list of people currently at RC
######################################################################## 100%%
=> Teaching Pairing Bot how to beep boop beep
######################################################################## 00110001 00110000 00110000 00100101

=> Pairing Bot successfully updated to version {{ .Now.Format "01.02.2006" }}
```


Greetings @*Currently at RC*,

My name is Pairing Bot and my mission is to ~~eliminate all~~ help pair people at RC to work on projects.

**How To Get Started**

* Send me a private message with the word `subscribe` to get started. I will then match you with another pairing bot subscriber each day.

* Don't want to pair each day? You can set your schedule with the command `schedule tuesday friday` and I will only match you with people on those days.

* You can view a full list of my functions by sending me a PM with the message `help`.

* See what other recursers have to say about me by using the `get-reviews` command.
